body{
    background-color: rgb(255, 246, 189);
}
hr {
    background-color: rgb(255, 246, 189);
    border-style: dotted none none none;
    border-color: rgb(196, 193, 193);
    height: 1px;
    border-width: 6px;
    width: 5%;
} 